<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Urban Navigation Grid - Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Urban Navigation System</h1>

<div id="grid"></div>

<div class="controls">
    <p>Click 1: Start, Click 2: Destination, Click 3: Reset pentru o noua cautare.</p>
    <button onclick="resetareHarta()" class="btn-calc">Reset</button>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>